<a id="enclosureheatercontrol_indicator" class="pull-right" title="Toggle Enclosure Heater" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleEnclosureHeater(); }, visible: (isEnclosureHeaterOn() !== undefined)" style="display: none">
    <i style="font-size: 20;" class="fa-solid fa-temperature-arrow-up"></i>
</a>
