<h2>Enclosure Heater Control</h2>
<p>Plug-ins can be installed to control the heaters. As an example, <b>Enclosure Heater Control - TPLink</b> can be installed from the plugin manager.</p>
<br/>
<br/>
<p>More info can be found on the <a href="https://github.com/arbeaman/OctoPrint-EnclosureHeaterControl" target="_blank">plugin homepage</a>.</p>
